chex==0.1.86
distrax==0.1.5
flax==0.8.4
graphviz==0.20.1
gymnasium==0.29.1
gymnax==0.0.8
ipython==8.14.0
matplotlib==3.7.2
minigrid==2.3.1
moviepy==1.0.3
numpy==1.26.4
optax==0.2.3
optax_swag==0.1.0
optuna==3.2.0
Pillow==10.4.0
scikit_learn==1.2.2
SQLAlchemy==2.0.19
wandb==0.17.6
jax[cuda12]==0.4.31
